<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Upsilon</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="nominations.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body onload="initialization(),getInformation()">
    <nav>
      <div>
        <img src="../resources/Upsilon.svg" alt="Upsilon" />
      </div>
      <input type="checkbox" id="click" />
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="../movies-page/movies.html">Movies</a></li>
        <li><a href="../actors-page/actors.html">Actors</a></li>
        <li><a href="../statistics-page/statistics.html">Statistics</a></li>
        <li><a href="../report-page/report.html">Report</a></li>
      </ul>
    </nav>
    <div class="landing">
      <div class="content">
        <h2>Nominations:</h2>
        <div class="filters">
          <div class="checkboxes">
            <div class="nomination-check">
              <label class="label-text"
                >Nominee
                <input
                  type="checkbox"
                  name="filters"
                  value="False"
                  id="nominalizat"
                  style="display: inline-block"
                  onclick=""
                />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="win-check">
              <label class="label-text"
                >Recipient
                <input
                  type="checkbox"
                  name="filters"
                  value="True"
                  id="castigator"
                  style="display: inline-block"
                  onclick=""
                />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="selector">
            <label id="year-select-label">
              <select id="year-select">
                <option value="2020">Year 2020</option>
                <option value="2019">Year 2019</option>
                <option value="2018">Year 2018</option>
                <option value="2017">Year 2017</option>
                <option value="2016">Year 2016</option>
                <option value="2015">Year 2015</option>
                <option value="2014">Year 2014</option>
              </select>
            </label>
          </div>
        </div>
        <div id="cards" class="cards"></div>
      </div>
      <div class="page-end">
        <div class="pagination">
          <div id="myButtons">
            <a href="#" class="special" id="0">&laquo;</a>
            <a href="#" class="btn active" id="1">1</a>
            <a href="#" class="btn" id="2">2</a>
            <a href="#" class="btn" id="3">3</a>
            <a href="#" class="btn" id="4">4</a>
            <a href="#" class="btn" id="5">5</a>
            <a href="#" class="btn" id="6">6</a>
            <a href="#" class="btn" id="7">7</a>
            <a href="#" class="special" id="8">&raquo;</a>
          </div>
        </div>
      </div>
      <footer class="footer-distributed">
        <div class="footer-left">
          <div class="logo">
            <img src="../resources/Upsilon.svg" alt="Upsilon" />
          </div>

          <p class="footer-links">
            <a href="../movies-page/movies.html">Movies</a>
            |
            <a href="../actors-page/actors.html">Actors</a>
            |
            <a href="../statistics-page/statistics.html">Statistics</a>
            |
            <a href="../report-page/report.html">Report</a>
          </p>

          <p class="footer-company-name">
            Copyright &copy; 2022 <strong>Upsilon</strong> All rights reserved
          </p>
        </div>

        <div class="footer-center">
          <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Iasi</span> Romania</p>
          </div>

          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:stoicadragos2001@gmail.com">Dragos Stoica</a></p>
          </div>
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:danapetrea.dp@gmail.com">Daniela Petrea</a></p>
          </div>
        </div>
        <div class="footer-right">
          <p class="footer-company-about">
            <span>About us</span>
            <strong>Upsilon</strong> is a team of two students from the Faculty
            of Computer Science of the UAIC and this website is our Web
            Technology project.
          </p>
          <div class="footer-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </footer>
    </div>
    <script src="nominations.js"></script>
  </body>
</html>
