<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AGA</title>
    <link rel="icon" href="../resources/favicon.ico" type="image/x-icon" />
  </head>
  <body
    style="
      background-color: #192233;
      color: white;
      font-family: Montserrat, sans-serif;
    "
  >
    <header>
      <h1>📈 AGA (Actors Guild Awards Visualizer)</h1>
    </header>

    <h2>Table of Contents</h2>
    <ol role="directory">
      <li>
        <a href="#abstract"> Abstract </a>
      </li>
      <li>
        <a href="#introduction"> Introduction </a>
        <ul role="directory">
          <li>
            2.1
            <a href="#purpose"> Purpose </a>
          </li>
          <li>
            2.2
            <a href="#conventions"> Document Conventions </a>
          </li>
          <li>
            2.3
            <a href="#audience"> Intended Audience and Reading Suggestions </a>
          </li>
          <li>
            2.4
            <a href="#scope"> Product Scope </a>
          </li>
          <li>
            2.5
            <a href="#references"> References </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#description"> Overall Description </a>
        <ul role="directory">
          <li>
            3.1
            <a href="#product"> Product Description </a>
          </li>
          <li>
            3.2
            <a href="#functions"> Product Functions </a>
          </li>
          <li>
            3.3
            <a href="#environment"> Operating Environment </a>
          </li>
          <li>
            3.4
            <a href="#constraints"> Design and Implementation Constraints </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#requirements"> External Interface Requirments </a>
        <ul role="directory">
          <li>
            4.1
            <a href="#user"> User Interfaces </a>
          </li>
          <li>
            4.2
            <a href="#software"> Software Interfaces </a>
          </li>
          <li>
            4.3
            <a href="#hardware"> Hardware Interfaces </a>
          </li>
          <li>
            4.4
            <a href="#communications"> Communications Interfaces </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#pages"> Structure of the app </a>
        <ul role="directory">
          <li>
            5.1
            <a href="#landing-page"> Landing page </a>
          </li>
          <li>
            5.2
            <a href="#movies"> Movies </a>
          </li>
          <li>
            5.3
            <a href="#actors"> Actors </a>
          </li>
          <li>
            5.4
            <a href="#statistics"> Statistics </a>
          </li>
          <li>
            5.5
            <a href="#nominations"> Nominations </a>
          </li>
          <li>
            5.6
            <a href="#news"> News </a>
          </li>
          <li>
            5.7
            <a href="#contact"> Contact </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#extra-components"> Extra Components </a>
        <ul role="directory">
          <li>
            6.1
            <a href="#bd"> Database </a>
          </li>
          <li>
            6.2
            <a href="#api"> API </a>
            <ul role="directory">
              <li>
                6.2.1
                <a href="#api-tmdb"> TMDB API </a>
              </li>
              <li>
                6.2.2
                <a href="#api-news"> NEWS API </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#bonus"> Bonus </a>
        <ul role="directory">
          <li>
            7.1
            <a href="Score"> Score </a>
          </li>
        </ul>
        <ul role="directory">
          <li>
            7.2
            <a href="Security"> Security</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#tasks"> Task assignment </a>
      </li>
    </ol>

    <div class="info" role="contentinfo">
      <section typeof="sa:AuthorsList">
        <h2>Upsilon Team</h2>
        <ul style="list-style-type: disc">
          <li>Dragos Stefan Stoica</li>
          <li style="list-style-type: circle">
            <a href="https://github.com/StoicaDragos2001">StoicaDragos2001</a>
          </li>
        </ul>

        <ul style="list-style-type: disc">
          <li>Daniela Petrea</li>
          <li style="list-style-type: circle">
            <a href="https://github.com/Daniela-Petrea">Daniela-Petrea</a>
          </li>
        </ul>
      </section>
    </div>

    <section id="abstract">
      <h2><span>1. </span>Abstract 📎</h2>
      <p>
        Create a Web tool for flexible visualization of data on actor
        nominations for the last years at the Screen Actors Guild (SAG) Awards
        via its own developed REST / GraphQL API. Additional information on each
        actor and film production can be accessed from The Movie Database
        (TMDb). The statistics and views generated - at least 3 ways - can be
        exported in CSV, WebP and SVG formats. The system will also provide
        support for the news access regarding each nominee, based on external
        data sources configurable within the developed application.
      </p>
    </section>

    <section id="introduction">
      <h2><span>2. </span>Introduction 🗒</h2>
      <section id="purpose">
        <h3><span>2.1 </span>Purpose</h3>
        <p>
          The role of this technical report sheet is to present details related
          to the implementation of the project AGA (Actors Guild Awards
          Visualizer) (category M).
        </p>
      </section>

      <section id="conventions">
        <h3><span>2.2 </span>Document Conventions</h3>
        <p>
          This report in Scholarly HTML format was created based on the IEEE
          template for System Requirement Specification Documents.
        </p>
      </section>

      <section id="audience">
        <h3><span>2.3 </span>Intended Audience and Reading Suggestions</h3>
        <p>
          This document is intended for the potential viewers of the website. It
          will explain the utilities of the website, its interface and what
          information can be accessed.
        </p>
      </section>

      <section id="scope">
        <h3><span>2.4 </span>Product Scope</h3>
        <p>
          Our website is a site with the purpose to provide detailed information
          about actors and movies, especially those awarded at the Screen Actors
          Guild Awards 🏆 . For those who are passionate about movies and not
          only is it the ideal place to find out more information about the film
          industry and what is a must see 🍿🎥
        </p>
      </section>

      <section id="references">
        <h3><span>2.5 </span>References</h3>
        <ul>
          <li
            property="schema:citation"
            typeof="schema:WebSite"
            resource="https://developer.mozilla.org/en-US/"
          >
            <cite property="schema:name">
              <a href="https://developer.mozilla.org/en-US/">MDN</a>
            </cite>
          </li>
          <li
            property="schema:citation"
            typeof="schema:ScholarlyArticle"
            resource="https://profs.info.uaic.ro/~busaco/teach/courses/web/web-film.html"
          >
            <cite property="schema:name"
              ><a
                href="https://profs.info.uaic.ro/~busaco/teach/courses/web/web-film.html"
                >Course page
              </a></cite
            >
          </li>

          <li
            property="schema:citation"
            typeof="schema:WebSite"
            resource="https://www.w3schools.com/"
          >
            <cite property="schema:name">
              <a href="https://www.w3schools.com/">w3schools</a>
            </cite>
          </li>
          <li
            property="schema:citation"
            typeof="schema:ScholarlyArticle"
            resource="https://w3c.github.io/scholarly-html/"
          >
            <cite property="schema:name"
              ><a href="https://w3c.github.io/scholarly-html/"
                >Scholarly HTML
              </a></cite
            >
          </li>
        </ul>
      </section>
    </section>

    <section id="description">
      <h2><span>3. </span>Overall Description 👓</h2>
      <section id="product">
        <h3><span>3.1 </span>Product Description</h3>
        <p>
          Actors Guild Awards Visualizer is a data visualization project 📊📈
          examining actors and movies data at SAG Awards that also provides
          additional information on each actor and film production as well as
          news about that
        </p>
      </section>

      <section id="functions">
        <h3><span>3.2 </span>Product Functions</h3>
        <p>
          The project offers the option of exporting different statistics in
          formats such as CSV, WebP and SVG.
        </p>
      </section>

      <section id="environment">
        <h3><span>3.3 </span>Operating Environment</h3>
        <p>
          The developed product can be used on any device with a connection to
          the Internet and a browser installed such as Google Chrome, Mozila
          Firefox or Microsoft Edge.
        </p>
      </section>

      <section id="constraints">
        <h3><span>3.4 </span>Design and Implementation Constraints</h3>
        <p>
          Regarding the server, Actors Guild Awards Visualizer will be developed
          in Node.js and MongoDB was chosen for the database, using MVC
          architecture and at the client level, the HTML5, CSS3 and JavaScript
          were used. The site design was made in Figma and the interface is
          intuitive, and all pages are responsive, the components changing their
          size, shape or page layout depending on the device used, for a
          flawless navigation.
        </p>
      </section>
    </section>
    <section id="requirements">
      <h2><span>4. </span>External Interface Requirements ✅</h2>
      <section id="user">
        <h3><span>4.1 </span>User Interfaces</h3>
        <p>
          Design and content are the most important features of an informational
          website. It should catch the attention the moment someone enters the
          website. To reach this goal and make people who access our website to
          read as much information about the actors as possible, we originally
          created a design in Figma to know exactly what we would love our site
          to look like for catching the eye from the first glance.
        </p>
        <iframe
          style="border: 1px solid rgba(0, 0, 0, 0.1)"
          width="800"
          height="450"
          src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FRLWjXrEgDPMtq8J85jnWDe%2FUntitled%3Fnode-id%3D0%253A1"
          allowfullscreen
        ></iframe
        ><br />
      </section>

      <section id="software">
        <h3><span>4.2 </span>Software Interfaces</h3>
        <p>
          The minimum software requirements of Actors Guild Awards Visualizer
          are a working browser and connection to the Internet.
        </p>
      </section>

      <section id="hardware">
        <h3><span>4.3 </span>Hardware Interfaces</h3>
        <p>
          The minimum hardware requirement of our project is a working laptop 💻
          or desktop 🖥️ or smartphone 📱 .
        </p>
      </section>

      <section id="communications">
        <h3><span>4.4 </span>Communications Interfaces</h3>
        <p>
          Actors Guild Awards Visualizer requires Internet connection. The
          communication standard we want to use is HTTP.
        </p>
      </section>
    </section>
    <section id="pages">
      <h2><span>5. </span>Structure of the app 📲</h2>
      <section id="landing-page">
        <h3><span>5.1 </span>Landing page</h3>
        <p>
          This page provides details about the main purpose of the application
          and allows the user to navigate to other pages of the application.
          Landing page contains:<br />
          -Navigation bar, located at the top of the page, with the buttons:
          Movies, pointing to the movie page, Actors, pointing to the actor
          page, statistics, that point to the page with the plots and the
          contact, pointing to the contact page<br />
          -The actual page that provides details about the main purpose of the
          application and the Nomination and Statistics buttons<br />
          -Footer, located at the bottom of the page, with the following
          options: About Us, Privacy Policy, Facebook, Instagram, Twitter,
          Linkedin and Youtube that directs to pages with appropriate
          information, as well as the possibility to contact the authors of the
          website.
        </p>
      </section>

      <section id="movies">
        <h3><span>5.2 </span>Movies</h3>
        <p>
          In this page, the user can see information about each film, structured
          in the form of cards, on the front of them it can be seen the movie
          poster and the rating, and when the card is turned on the other side a
          short summary of the film will be displayed.
        </p>
      </section>

      <section id="actors">
        <h3><span>5.3 </span>Actors</h3>
        <p>
          The user can see cards that contain for each actor his name, his
          popularity (extracted from the TMDB API) and an image with him.
        </p>
      </section>

      <section id="statistics">
        <h3><span>5.4 </span>Statistics</h3>
        <p>
          On this page, are displayed statistics made in plotly with information
          from our database stored in MongoDB. These are in 3 formats: bar
          chart, pie chart and scatter plot and illustrate the nominees and
          recipients at Screen Actors Guild Awards. These statistics will be
          exported in formats such as CSV, WebP and SVG.
        </p>
      </section>

      <section id="nominations">
        <h3><span>5.5 </span>Nominations</h3>
        <p>
          The user can see information from the database in MongoDB also
          illustrated in the form of cards. If a trophy appears, it means that
          the actor or that film production has been awarded.
        </p>
      </section>

      <section id="news">
        <h3><span>5.6 </span>News</h3>
        <p>Users can view the latest news about the selected actor.</p>
      </section>

      <section id="contact">
        <h3><span>5.7 </span>Contact</h3>
        <p>
          Users can send a message containing feedback or any message that they
          wish to send to the authors of the application.
        </p>
      </section>
    </section>
    <section id="extra-components">
      <h2><span>6.</span>Extra Components 🌍</h2>
      <iframe
        style="border: 1px solid rgba(0, 0, 0, 0.1)"
        width="800"
        height="450"
        src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FnqOvQVQX16kx7TIruoroNQ%2FWebsite-Architecture%3Fnode-id%3D0%253A1"
        allowfullscreen
      ></iframe>
      <section id="bd">
        <h3><span>6.1 </span>Database</h3>
        <p>
          We will load the screen_actor_guild_awards.csv file that contains all
          the Screen Actors Guild Awards nominations, SAG Awards to MongoDB. Our
          database will have the following fields: year, category, full_name,
          show and won ( true if winner ), that we will use to generate the
          diagrams in plotly.
        </p>
      </section>
      <section id="api">
        <h3><span>6.2 </span>API</h3>
        <section id="api-tmdb">
          <h4><span>6.2.1 </span>TMDB API</h4>
          <p>
            We make calls to TMDB API to get additional information on each
            actor and film production.
          </p>
        </section>
        <section id="api-news">
          <h4><span>6.2.2 </span>NEWS API</h4>
          <p>
            We make calls directly to NEWS API to get news 📰 about the actor
            selected by the user.
          </p>
        </section>
      </section>
    </section>
    <section id="bonus">
      <h2><span>7. </span>Bonus 👨‍💻👩‍💻</h2>
      <section id="score">
        <h4><span>7.1 </span>Score</h4>
        <p>
          For each page we calculated a score via
          <a href="https://web.dev/measure/">https://web.dev/measure/</a>.
        </p>
        <p>-Landing page: average of 94:</p>
        <img
          src="../resources/landing.png"
          alt="landing"
          width="600"
          height="300"
        />
        <p>-Nominations page: average of 91:</p>
        <img
          src="../resources/nominations.png"
          alt="nominations"
          width="600"
          height="300"
        />
        <p>-Movies page: average of 90:</p>
        <img
          src="../resources/movies.png"
          alt="movies"
          width="600"
          height="300"
        />
        <p>-Actors page: average of 91:</p>
        <img
          src="../resources/actors.png"
          alt="actors"
          width="600"
          height="300"
        />
        <p>-News page: average of 90:</p>
        <img src="../resources/news.png" alt="news" width="600" height="300" />
        <p>-Statistics page: average of 91:</p>
        <img
          src="../resources/statistics.png"
          alt="statistics"
          width="600"
          height="300"
        />
        <h4>Overall score: 91.45</h4>
      </section>
      <section id="security">
        <h4><span>7.2 </span>Security</h4>
        <p>
          -Our site is protected by sql injection, as it does not allow the
          alteration or deletion of data from databases using urls. In the case
          of both the nomination page and the statistics page, the filtering
          takes place on the front, and the user can select the filtering
          criterion by pressing a button and therefore cannot modify the url
          according to his own choice.
        </p>
        <p>
          -We also took measures to ensure protection against cross site
          scripting attacks. All instances of innerHTML have been modified to
          innerText to avoid rendering malicious scripts. Most of the website
          interaction is based on predefined filters, this way we avoided
          information completed by the user that could be rendered in the form
          of innerHTML.
        </p>
        <p>
          -Additionally, we used Zed Attack Proxy in order to find and scan
          potential vulnerabilities. The following were tested by ZAP security
          software:
        </p>
        <ul>
          <li>SQL injection</li>
          <li>Cross-site scripting (XSS)</li>
          <li>Broken access control</li>
          <li>Security miss-configuration</li>
          <li>Broken authentication</li>
          <li>Sensitive data exposure</li>
          <li>Cross-site request forgery (CSRF)</li>
          <li>Using components with known vulnerabilities.</li>
        </ul>
        <p>
          We following feedback was generated, containing only minor warning (no
          red flags 🚩 ):
        </p>
        <img
          src="../resources/security.png"
          alt="security"
          width="600"
          height="300"
        />
      </section>
    </section>

    <section id="tasks">
      <h2><span>8. </span>Task assignment 🏅</h2>
      <p>
        Tasks have been assigned so that all team members work equally hard.
        Initially we set the design, the color palette and what the interface
        should look like in the user interaction with the website. Github was
        chosen as the source code management system, where there were many
        commits given the division of the application into many submodules and
        tasks.
      </p>
      <h4>👩‍💻 Petrea Daniela:</h4>
      <ul>
        <li>
          Design
          <ul>
            <li>Overall site design structure</li>
            <li>Website UI/UX design implementation</li>
            <li>Documentation</li>
          </ul>
        </li>
        <li>
          Front-End
          <ul>
            <li>Actors page</li>
            <li>Nominations page</li>
            <li>Statistics page</li>
          </ul>
        </li>
        <li>
          Back-End
          <ul>
            <li>Nominations page</li>
            <li>Statistics page</li>
          </ul>
        </li>
        <li>
          Bonus
          <ul>
            <li>Score</li>
            <li>Security for SQL injection</li>
          </ul>
        </li>
      </ul>
      <h4>👨‍💻 Stoica Dragos:</h4>
      <ul>
        <li>
          Design
          <ul>
            <li>Overall site design structure</li>
            <li>Website UI/UX design implementation</li>
            <li>Documentation</li>
          </ul>
        </li>
        <li>
          Front-End
          <ul>
            <li>Landing page</li>
            <li>Movies page</li>
            <li>News page</li>
            <li>Statistics page</li>
          </ul>
        </li>
        <li>
          Back-End
          <ul>
            <li>Actors page</li>
            <li>News page</li>
            <li>Movies page</li>
          </ul>
        </li>
        <li>
          Bonus
          <ul>
            <li>Security for cross site scripting</li>
          </ul>
        </li>
      </ul>
    </section>
  </body>
</html>
