<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Upsilon</title>
    <link rel="icon" href="../resources/favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="statistics.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.plot.ly/plotly-2.11.1.min.js"></script>
    <!-- <script src="plotly.min.js"></script> -->
  </head>

  <body
    onload="getInformationStatistics(2020),eventPieChartCSVButton(),eventBarBlotCSVButton(),eventScatterPlotCSVButton();"
  >
    <nav>
      <div>
        <a href="../landing-page/landing.html">
          <img src="../resources/Upsilon.svg" alt="Upsilon" />
        </a>
      </div>
      <input type="checkbox" id="click" />
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="../movies-page/movies.html">Movies</a></li>
        <li><a href="../actors-page/actors.html">Actors</a></li>
        <li><a href="../statistics-page/statistics.html">Statistics</a></li>
        <li><a href="../report-page/report.html">Report</a></li>
      </ul>
    </nav>
    <div class="landing">
      <div class="content">
        <h2>Statistics:</h2>
        <div id="filters" class="filters">
          <div id="2020" class="year active-year">2020</div>
          <div id="2019" class="year">2019</div>
          <div id="2018" class="year">2018</div>
          <div id="2017" class="year">2017</div>
          <div id="2016" class="year">2016</div>
          <div id="2015" class="year">2015</div>
          <div id="2014" class="year">2014</div>
        </div>
        <div class="plots">
          <div class="stats">
            <h3>Number of SAG Awards nominations in 2020</h3>
            <div id="piechart"></div>
            <div id="export-buttons-pie-chart" class="export-buttons">
              <button type="button" class="button-pie-chart" id="CSV">
                Export CSV
              </button>
              <button type="button" class="button-pie-chart" id="WebP">
                Export WebP
              </button>
              <button type="button" class="button-pie-chart" id="SVG">
                Export SVG
              </button>
            </div>
          </div>
          <div class="stats">
            <h3>Number of SAG Awards nominations and wins in 2020</h3>
            <div id="barplot"></div>
            <div id="export-buttons-barplot" class="export-buttons">
              <button type="button" class="button-barplot" id="CSV">
                Export CSV
              </button>
              <button type="button" class="button-barplot" id="WebP">
                Export WebP
              </button>
              <button type="button" class="button-barplot" id="SVG">
                Export SVG
              </button>
            </div>
          </div>
          <div class="stats">
            <h3>Number of SAG Awards nominations and wins in 2020</h3>
            <div id="scatterplot"></div>
            <div id="export-buttons-scatterplot" class="export-buttons">
              <button type="button" class="button-scatterplot" id="CSV">
                Export CSV
              </button>
              <button type="button" class="button-scatterplot" id="WebP">
                Export WebP
              </button>
              <button type="button" class="button-scatterplot" id="SVG">
                Export SVG
              </button>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer-distributed">
        <div class="footer-left">
          <div class="logo">
            <img src="../resources/Upsilon.svg" alt="Upsilon" />
          </div>

          <p class="footer-links">
            <a href="../movies-page/movies.html">Movies</a>
            |
            <a href="../actors-page/actors.html">Actors</a>
            |
            <a href="../statistics-page/statistics.html">Statistics</a>
            |
            <a href="../report-page/report.html">Report</a>
          </p>

          <p class="footer-company-name">
            Copyright &copy; 2022 <strong>Upsilon</strong> All rights reserved
          </p>
        </div>

        <div class="footer-center">
          <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Iasi</span> Romania</p>
          </div>

          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:stoicadragos2001@gmail.com">Dragos Stoica</a></p>
          </div>
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:danapetrea.dp@gmail.com">Daniela Petrea</a></p>
          </div>
        </div>
        <div class="footer-right">
          <p class="footer-company-about">
            <span>About us</span>
            <strong>Upsilon</strong> is a team of two students from the Faculty
            of Computer Science of the UAIC and this website is our Web
            Technology project.
          </p>
          <div class="footer-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </footer>
    </div>
    <script src="statistics.js"></script>
  </body>
</html>
